@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Bellefair&display=swap');
@import 'css/root.css';
@import 'css/reset.css';
@import 'css/nav.css';
/* CREW PAGE */
.crew-page {
    background: url(/assets/crew/background-crew-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -185px;
  }
  .crew-hero-section {
    padding: 0 148px;
    margin-top: 40px;
  }
  .crew-hero-section .crew-heading {
    color: var(--clr-primary);
    font-family: var(--ff-secondary);
    font-size: var(--fs-200);
  }
  .crew-hero-section .crew-heading h1 span {
    font-weight: var(--fw-bold);
    opacity: 25%;
  }
  .crew-hero-section .crew-heading h1  {
    font-weight: var(--fw-regular);
    display: flex;
    gap: 18px;
  }
  .crew-hero-section .crew-hero-main-section {
    margin-top: var(--size-900);
    display: flex;
  }
  .crew-hero-main-section .crew-hero-main-section-description-heading {
    font-family: var(--ff-primary);
    color: var(--clr-primary);
  }
  .crew-hero-section .crew-hero-main-section-description
  .crew-hero-main-section-description-heading h2 {
    font-size: var(--fs-300);
    opacity: 50%;
    font-weight: var(--fw-regular);
  }
  .crew-hero-section .crew-hero-main-section-description
  .crew-hero-main-section-description-heading h1 {
    font-size: var(--fs-400);
    font-weight: var(--fw-regular);
  }
  .crew-hero-section .crew-hero-main-section-description
  .crew-hero-main-section-description-para {
    margin-top: var(--size-500);
    width: 445px;
  }
  .crew-hero-section .crew-hero-main-section-description
  .crew-hero-main-section-description-para p {
  font-family: var(--ff-secondary);
  font-size: var(--fs-100);
  color: var(--clr-secondary);
  }
  .crew-hero-section .crew-hero-main-section
  .astronauts-navigation {
    margin-top: var(--size-900);
    display: flex;
    gap: 14px;
  }
  
  
  .astronauts-navigation div {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color:var(--clr-primary);
    opacity: 25%;
    cursor: pointer;
  }
  .astronauts-navigation .astronaut-active {
    background-color: white;
    opacity: 100%;
  }
  
  
  main .crew-hero-main-section-img {
    position: absolute;
    right: 190px;
    bottom: 0%;
  }
  main .crew-hero-main-section-img img {
    width: 500px;
    height: 600px;
  }
  
  
  @media (max-width:61em) and (min-width:32em) {
    .crew-page {
      background: url(/assets/crew/background-crew-tablet.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .crew-hero-section {
      padding: 0 32px;
    }
    .crew-hero-section .crew-hero-main-section {
      justify-content: center;
      text-align: center;
    }
    .crew-hero-section .crew-hero-main-section
    .crew-hero-main-section-description {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .crew-hero-section .crew-heading {
      font-size: 20px;
    }
  .crew-hero-section .crew-hero-main-section-description
  .crew-hero-main-section-description-heading h2 {
    font-size: 24px;
  }
  .crew-hero-section .crew-hero-main-section-description
  .crew-hero-main-section-description-heading h1 {
    font-size: 40px;
  }
  .crew-hero-section .crew-hero-main-section-description
  .crew-hero-main-section-description-para {
    margin-top: var(--size-100);
    width: 454px;
  }
  .crew-hero-section .crew-hero-main-section-description
  .crew-hero-main-section-description-para p {
  font-size: 16px;
  }
  .crew-hero-section .crew-hero-main-section 
  .astronauts-navigation {
  margin-top: var(--size-600);
  }
  main .crew-hero-main-section-img {
    margin-top: var(--size-700);
    position: initial;
    display: flex;
    justify-content: center;
  }
  main .crew-hero-main-section-img img {
    width: 455px;
    height: 572px;
  }
  }
  
  @media(max-width:32em) {
    .crew-page {
      background: url(/assets/crew/background-crew-mobile.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .crew-main {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      padding: 0 16px;
    }
    
    .crew-hero-section {
      padding: 0 0px;
    }
    .crew-hero-section .crew-heading {
      font-size: var(--fs-nav);
    }
    .crew-hero-section .crew-hero-main-section {
      justify-content: center;
      margin-top: var(--size-300);
    }
    .crew-hero-section .crew-hero-main-section
    .crew-hero-main-section-description {
      display: grid;
      text-align: center;
      grid-template-rows: 2fr 2fr;
      place-content: center;
      place-items: center;
    }
    .crew-hero-section .crew-hero-main-section-description
  .crew-hero-main-section-description-heading h2 {
    font-size: 16px;
  }
  .crew-hero-section .crew-hero-main-section
   .astronauts-navigation {
    margin-top: var(--size-400);
    grid-row: 1 / 2;
   }
  .crew-hero-section .crew-hero-main-section-description
  .crew-hero-main-section-description-heading h1 {
    font-size: 24px;
  }
  .crew-hero-section .crew-hero-main-section-description
  .crew-hero-main-section-description-para {
    margin-top: var(--size-100);
    width: 318px;
  }
  .crew-hero-section .crew-hero-main-section-description
  .crew-hero-main-section-description-para p {
  font-size: 15px;
  }
    main .crew-hero-main-section-img {
      border-bottom: 1px solid #979797;
      margin-top: var(--size-700);
      position: initial;
      display: flex;
      justify-content: center;
    }
    
    main .crew-hero-main-section-img img {
      width: 177px;
      height: 222px;
    }
  
  }