@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Bellefair&display=swap');
@import 'css/root.css';
@import 'css/reset.css';
@import 'css/nav.css';

/* BACKGROUND IMAGE */
.index-page {
  background: url(./assets/home/background-home-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover
}
@media (max-width:61em) and (min-width: 32em) {
  .index-page {
    background: url(./assets/home/background-home-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover
  }
}
@media (max-width:32em) {
  .index-page {
    background: url(./assets/home/background-home-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* Hero Section */

.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 148px;
  margin-top: 100px;
}

.hero-section-intro h3 {
  color: var(--clr-secondary);
  font-family: var(--ff-secondary);
  font-size: var(--fs-200);
  font-weight: var(--fw-regular);
}

.hero-section-intro h1 {
  color: var(--clr-primary);
  font-family: var(--ff-primary);
  font-size: var(--fs-600);
  font-weight: var(--fw-regular);
}

.hero-section-intro p {
  width: 444px;
  color: var(--clr-secondary);
  font-family: var(--ff-secondary);
  font-weight: var(--fw-regular);
  font-size: var(--fs-100);
}


.hero-section-btn {
  position: relative;
  display: flex;
  justify-content: center;
  height: 450px;
  align-items: center;
}

.hero-btn {
  position: relative;
  width: 300px;
  height: 300px;
  z-index: 999;
  font-family: var(--ff-primary);
  font-size: var(--fs-300);
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hero-btn:hover {
  box-shadow: 0px 0px 1px 50px rgba(255, 255, 255, 20%);
}

@media (max-width:61em) and (min-width: 32em) {
  .hero-section {
    flex-direction: column;
  }

  .hero-section-intro p {
    font-size: var(--fs-nav);
    width: 436px;
  }

  .hero-section .hero-section-container .hero-section-intro {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width:32em) {
  .hero-section {
    flex-direction: column;
  }

  .hero-section-intro p {
    font-size: 15px;
    width: 315px;
  }

  .hero-section-intro h3 {
    font-size: 16px;
  }

  .hero-section-intro h1 {
    font-size: var(--fs-md-heading)
  }

  .hero-btn {
    z-index: 888;
    height: 150px;
    width: 150px;
    font-size: 1.125rem;
  }

  .hero-section-btn {
    height: 280px;
  }

  .hero-section .hero-section-container .hero-section-intro {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
  }
}



/* DESTINATION PAGE */
.destination-page {
  background: url(./assets/destination/background-destination-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.destination-hero-section {
  padding: 0 148px;
  margin-top: 40px;
}

.destination-hero-section .destination-heading {
  margin-top: 10px;
  margin-bottom: 40px;
  color: var(--clr-primary);
  font-family: var(--ff-secondary);
  font-size: var(--fs-200);

}

.destination-hero-main-section {
  display: flex;
  gap: 225px;
}

.destination-hero-main-section-img {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 135px;
}

#spinner {
  display: none;
  width: 200px;
  height: 200px;
}
@media (max-width: 32em) {
  #spinner {
    display: none;
    width: 100px;
    height: 100px;
  }
}


.destination-hero-section .destination-heading h1 span {
  font-weight: var(--fw-bold);
  opacity: 25%;
}

.destination-hero-section .destination-heading h1 {
  font-weight: 100;
  display: flex;
  gap: 18px;
}

.destination-hero-section .destination-hero-main-section .destination-hero-main-section-description-navigation ul a {
  color: var(--clr-secondary);
  text-decoration: none;
  font-size: var(--fs-nav);
  font-weight: var(--fw-regular);
  font-family: var(--ff-secondary);
}

.destination-hero-section .destination-hero-main-section .destination-hero-main-section-description-navigation ul {
  margin-bottom: 12px;
  list-style: none;
  display: flex;
  gap: 32px;
  font-size: var(--fs-nav);
}

.destination-hero-section .destination-hero-main-section .destination-hero-main-section-description .destination-hero-main-section-description-heading h2 {
  font-size: var(--fs-500);
  font-weight: var(--fw-regular);
  color: var(--clr-primary);
  font-family: var(--ff-primary)
}

.destination-hero-section .destination-hero-main-section .destination-hero-main-section-description .destination-hero-main-section-description-para p {
  width: 400px;
  line-height: 1.6;
  margin-bottom: 36px;
  color: var(--clr-secondary);
  font-size: var(--fs-nav);
  font-weight: var(--fw-regular);
  font-family: var(--ff-secondary);
}

.destination-hero-section .destination-hero-main-section .destination-hero-main-section-description-navigation ul a:hover {
  border-bottom: 1px solid #979797;
}

.destination-hero-section .destination-hero-main-section .destination-estimate {
  display: flex;
  gap: 70px;
  border-top: 1px solid #383B4B;
  padding-top: 22px;
}

.destination-hero-section .destination-hero-main-section .destination-estimate h5 {
  color: var(--clr-primary);
  font-size: var(--fs-200);
  font-weight: var(--fw-regular);
  font-family: var(--ff-primary);
}

.destination-hero-section .destination-hero-main-section .destination-estimate h4 {
  color: var(--clr-secondary);
  font-size: var(--fs-50);
  font-weight: var(--fw-regular);
  font-family: var(--ff-secondary);
}

@media (max-width:61em) and (min-width: 32em) {
  .destination-page {
    background: url(./assets/destination/background-destination-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .destination-hero-section {
    padding: 0 34px;
  }

  .destination-hero-main-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .destination-hero-section .destination-heading {
    margin-top: 10px;
    margin-bottom: 40px;
    color: var(--clr-primary);
    font-family: var(--ff-secondary);
    font-size: var(--fs-100);
  }

  .destination-hero-section .destination-hero-main-section .destination-hero-main-section-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .destination-hero-main-section-img {
    margin-left: 0px;
    width: 300px;
    height: 300px;
  }

  .destination-hero-section .destination-hero-main-section .destination-hero-main-section-description .destination-hero-main-section-description-heading h2 {
    font-size: var(--fs-md-heading);
  }

  .destination-hero-section .destination-hero-main-section .destination-hero-main-section-description .destination-hero-main-section-description-para p {
    width: 544px;
    text-align: center;
  }

  .destination-hero-section .destination-hero-main-section .destination-estimate {
    gap: 0px;
    justify-content: space-between;
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;

  }

}

@media (max-width:32em) {
  .destination-page {
    background: url(./assets/destination/background-destination-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .destination-hero-section {
    padding: 0 16px;
  }

  .destination-hero-main-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .destination-hero-section .destination-heading {
    display: flex;
    justify-content: center;
    font-size: var(--fs-nav);
  }

  .destination-hero-section .destination-hero-main-section .destination-hero-main-section-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .destination-hero-section .destination-hero-main-section .destination-hero-main-section-description-navigation ul a {
    font-size: var(--fs-50);
  }

  .destination-hero-section .destination-hero-main-section .destination-hero-main-section-description .destination-hero-main-section-description-heading h2 {
    font-size: var(--fs-400);
  }

  .destination-hero-section .destination-hero-main-section .destination-hero-main-section-description .destination-hero-main-section-description-para p {
    width: 334px;
    text-align: center;
  }

  .destination-hero-main-section-img {
    margin-left: 0px;
    width: 170px;
    height: 170px;
  }
  .destination-hero-section .destination-hero-main-section .destination-estimate {
    gap: 18px;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    width: 100%;
  }
  .destination-hero-section .destination-hero-main-section .destination-estimate .destination-distance-estimate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .destination-hero-section .destination-hero-main-section .destination-estimate .destination-time-estimate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* CREW PAGE */
.crew-page {
  background: url(/assets/crew/background-crew-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -185px;
}
.crew-hero-section {
  padding: 0 148px;
  margin-top: 40px;
}
.crew-hero-section .crew-heading {
  color: var(--clr-primary);
  font-family: var(--ff-secondary);
  font-size: var(--fs-200);
}
.crew-hero-section .crew-heading h1 span {
  font-weight: var(--fw-bold);
  opacity: 25%;
}
.crew-hero-section .crew-heading h1  {
  font-weight: var(--fw-regular);
  display: flex;
  gap: 18px;
}
.crew-hero-section .crew-hero-main-section {
  margin-top: var(--size-900);
  display: flex;
}
.crew-hero-main-section .crew-hero-main-section-description-heading {
  font-family: var(--ff-primary);
  color: var(--clr-primary);
}
.crew-hero-section .crew-hero-main-section-description
.crew-hero-main-section-description-heading h2 {
  font-size: var(--fs-300);
  opacity: 50%;
  font-weight: var(--fw-regular);
}
.crew-hero-section .crew-hero-main-section-description
.crew-hero-main-section-description-heading h1 {
  font-size: var(--fs-400);
  font-weight: var(--fw-regular);
}
.crew-hero-section .crew-hero-main-section-description
.crew-hero-main-section-description-para {
  margin-top: var(--size-500);
  width: 445px;
}
.crew-hero-section .crew-hero-main-section-description
.crew-hero-main-section-description-para p {
font-family: var(--ff-secondary);
font-size: var(--fs-100);
color: var(--clr-secondary);
}
.crew-hero-section .crew-hero-main-section
.astronauts-navigation {
  margin-top: var(--size-900);
  display: flex;
  gap: 14px;
}


.astronauts-navigation div {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color:var(--clr-primary);
  opacity: 25%;
  cursor: pointer;
}
.astronauts-navigation .astronaut-active {
  background-color: white;
  opacity: 100%;
}


main .crew-hero-main-section-img {
  position: absolute;
  right: 190px;
  bottom: 0%;
}
main .crew-hero-main-section-img img {
  width: 500px;
  height: 600px;
}


@media (max-width:61em) and (min-width:32em) {
  .crew-page {
    background: url(/assets/crew/background-crew-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .crew-hero-section {
    padding: 0 32px;
  }
  .crew-hero-section .crew-hero-main-section {
    justify-content: center;
    text-align: center;
  }
  .crew-hero-section .crew-hero-main-section
  .crew-hero-main-section-description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .crew-hero-section .crew-heading {
    font-size: 20px;
  }
.crew-hero-section .crew-hero-main-section-description
.crew-hero-main-section-description-heading h2 {
  font-size: 24px;
}
.crew-hero-section .crew-hero-main-section-description
.crew-hero-main-section-description-heading h1 {
  font-size: 40px;
}
.crew-hero-section .crew-hero-main-section-description
.crew-hero-main-section-description-para {
  margin-top: var(--size-100);
  width: 454px;
}
.crew-hero-section .crew-hero-main-section-description
.crew-hero-main-section-description-para p {
font-size: 16px;
}
.crew-hero-section .crew-hero-main-section 
.astronauts-navigation {
margin-top: var(--size-600);
}
main .crew-hero-main-section-img {
  margin-top: var(--size-700);
  position: initial;
  display: flex;
  justify-content: center;
}
main .crew-hero-main-section-img img {
  width: 455px;
  height: 572px;
}
}

@media(max-width:32em) {
  .crew-page {
    background: url(/assets/crew/background-crew-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .crew-main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    padding: 0 16px;
  }
  
  .crew-hero-section {
    padding: 0 0px;
  }
  .crew-hero-section .crew-heading {
    font-size: var(--fs-nav);
  }
  .crew-hero-section .crew-hero-main-section {
    justify-content: center;
    margin-top: var(--size-300);
  }
  .crew-hero-section .crew-hero-main-section
  .crew-hero-main-section-description {
    display: grid;
    text-align: center;
    grid-template-rows: 2fr 2fr;
    place-content: center;
    place-items: center;
  }
  .crew-hero-section .crew-hero-main-section-description
.crew-hero-main-section-description-heading h2 {
  font-size: 16px;
}
.crew-hero-section .crew-hero-main-section
 .astronauts-navigation {
  margin-top: var(--size-400);
  grid-row: 1 / 2;
 }
.crew-hero-section .crew-hero-main-section-description
.crew-hero-main-section-description-heading h1 {
  font-size: 24px;
}
.crew-hero-section .crew-hero-main-section-description
.crew-hero-main-section-description-para {
  margin-top: var(--size-100);
  width: 318px;
}
.crew-hero-section .crew-hero-main-section-description
.crew-hero-main-section-description-para p {
font-size: 15px;
}
  main .crew-hero-main-section-img {
    border-bottom: 1px solid #979797;
    margin-top: var(--size-700);
    position: initial;
    display: flex;
    justify-content: center;
  }
  
  main .crew-hero-main-section-img img {
    width: 177px;
    height: 222px;
  }

}